
body {
  margin: 0px;
  min-height: 100vh;
  background-image: url(blackboard_middle.jpg);
  background-size: cover;

  color: azure;
  
}

* {
  font-family: "Kalam", cursive;
}

#container {
  padding: 3vh 10px 10px 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: auto;
  text-align: center;
  font-family: "Baloo", "Cooper Black", "Arial Black", sans-serif;
  color: #f31;
}

h1 {
  font-size: 10vh;
  text-shadow: 1px 1px 0px black, -1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, 1px 0px 0px black, -1px 0px 0px black, 0px -1px 0px black, 0px -1px 0px black;
}

.App {
  padding: 0 10px;
}

.PlayArea {
  margin: auto;
  padding: 50px;
  width: 156px;
}

.Square {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 28pt;
  vertical-align: middle;
  cursor: default;
  user-select: none;
}

.statusLine {
  text-align: center;
  margin: 35px 0;
}

.top {
  border-top: 3px solid rgba(255,255,255,0.8);
}

.bottom {
  border-bottom: 3px solid rgba(255,255,255,0.8);
}

.left {
  border-left: 3px solid rgba(255,255,255,0.8);
}

.right {
  border-right: 3px solid rgba(255,255,255,0.8);
}

.PlayAgainScreen {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  margin: auto;
  background: black;
  outline: 10px solid rgba(0,0,0,0.3);
}

.PlayAgainScreen h2, p {
  text-align: center;
}

.PlayAgainScreen input[type="button"] {
  font-weight: bold;
  margin: 5px 20px;
  padding: 10px 25px;
  background: black;
  color: red;
  border: 3px solid red;
  font-family: Corbel, sans-serif;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
}

.PlayAgainScreen input[type="button"]:hover {
  background: red;
  color: black;
}


.PlayAgainScreen .container {
  padding: 10px;
}

.PlayAgainScreen .optionButtons {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
