
body {
  margin: 0px;
  min-height: 100vh;
  background-image: url(blackboard_middle.jpg);
  background-size: cover;

  color: azure;
  
}

* {
  font-family: "Kalam", cursive;
}

#container {
  padding: 3vh 10px 10px 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: auto;
  text-align: center;
  font-family: "Baloo", "Cooper Black", "Arial Black", sans-serif;
  color: #f31;
}

h1 {
  font-size: 10vh;
  text-shadow: 1px 1px 0px black, -1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, 1px 0px 0px black, -1px 0px 0px black, 0px -1px 0px black, 0px -1px 0px black;
}

.App {
  padding: 0 10px;
}

.playArea {
  margin: auto;
  padding: 50px;
  max-width: 156px;
}

.Square {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 28pt;
  vertical-align: middle;
  cursor: default;
  user-select: none;
}

.statusLine {
  text-align: center;
  margin: 35px 0;
}

.top {
  border-top: 3px solid rgba(255,255,255,0.8);
}

.bottom {
  border-bottom: 3px solid rgba(255,255,255,0.8);
}

.left {
  border-left: 3px solid rgba(255,255,255,0.8);
}

.right {
  border-right: 3px solid rgba(255,255,255,0.8);
}

.PlayAgainScreen {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  margin: auto;
  background: black;
  outline: 10px solid rgba(0,0,0,0.3);
}

.PlayAgainScreen .board {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
}

.PlayAgainScreen .Square {
  font-size: 21pt;
  width: 35px;
  height: 35px;
}

.PlayAgainScreen .top, .bottom, .left, .right {
  border-width: 2px;
}

.PlayAgainScreen .winning {
  background: rgba(255,0,0,0.3);
}


.PlayAgainScreen h2, p {
  text-align: center;
}

.PlayAgainScreen input[type="button"] {
  font-weight: bold;
  margin: 5px 0;
  padding: 10px 25px;
  background: black;
  color: red;
  border: 3px solid red;
  font-family: Corbel, sans-serif;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.PlayAgainScreen input[type="button"]:hover {
  background: red;
  color: black;
}


.PlayAgainScreen .container {
  padding: 10px;
}

label {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border-radius: 50%;
  border: 2px solid white;
}

input[type="radio"]:checked + span::after {
  content: "";
  background-color: white;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.hidden {
  display: none;
}
